@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import 'reset';
@import 'layout_utils';

@include foundation-global-styles;
@include foundation-grid;

@include foundation-flex-grid;

@include foundation-typography;

@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;




$color_texto: #232222;
$primario: #b9cf46;
$primario_oscuro: #899f16;
$primario_acento: #c8fb00;
$primario_acento_blanco: #f0fafb;
$secundario_blanco: #f8fff0;
$neutral: #97908d;
$neutral_oscuro: #74706f;
$neutral_muy_oscuro: #37302d;
$secundario1: #00df7f;
$secundario2: #039ed9;
$secundario3: #ff8100;
$complementario: #df00c4;


/* estilos para elementos: */

.icono, .tarjeta {

   // transition: transform 0.2s;
   // -webkit-transition: transform 0.2s;
   // -moz-transition: transform 0.2s;
   &:hover {
      // transform: scale(1.01);
      // -webkit-transform: scale(1.02);
      // -moz-transform: scale(1.02);
   }

}



*,h1,h2,h3,h4,h5,h6 {
   font-family: 'Lato', sans-serif;
   // outline: 2px dotted #def;
}

.font2 {
   font-family: 'Montserrat', serif;
}
iframe {
   min-width: 100%;
}

a {
   &,&:hover {
      color: $color_texto;
   }
}

button, .button {

   @extend .icono;
   &:hover {
      background-color: $primario;
      color: $complementario;
   }
   &,&.primary {

      background-color: $primario_acento;
      color: $complementario;
   }

   &, a {
      color: $color_texto !important;
   }
}

.hollow {
   outline-color: $primario_acento !important;
   &:hover {
      background-color: $primario_acento !important;
      color: $complementario  !important;
   }
}


.thin {
   font-weight: 100;
}





%pattern {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEklEQVQImWNgIBmcOnXKl3RdAI02Aqx7ujt2AAAAAElFTkSuQmCC) repeat;
}

.img-overlay {
  @extend %pattern;
  background-color: rgba(255,255,255,0.6);
}



.curtain {
   background-color: rgba(255,255,255,0.7);
}








header#header {
   border-bottom: 2px solid $neutral;
   .button {
      background-color: transparent !important;
   }
}

#background {
}

.image-fx {
   filter: brightness(110%) contrast(125%);
}




/* interfaz taxonomias */

.taxonomias  {
   li {
      color: #000;
      &.active {
         // background-color: #eee !important;
      }
   }
}


#enlaces_destacados {
   .enlace_destacado {
      .texto_enlace {
         margin-top: 3px;
      }
   }
}




.primario {
   &, * {
      color: $primario !important;
   }
}

.primario_oscuro {
   &, * {
      color: $primario_oscuro !important;
   }
}
.primario_acento {
   &, * {
      color: $primario_acento !important;
   }
}
.neutral {
   &, * {
      color: $neutral !important;
   }
}
.neutral_oscuro {
   &, * {
      color: $neutral_oscuro !important;
   }
}
.secundario1 {
   &, * {
      color: $secundario1 !important;
   }
}
.secundario2 {
   &, * {
      color: $secundario2 !important;
   }
}
.secundario3 {
   &, * {
      color: $secundario3 !important;
   }
}
.complementario {
   &, * {
      color: $complementario !important;
   }
}


.primario_hover {
   &:hover, &:hover * {
      color: $primario !important;
   }
}
.primario_acento_hover {
   &:hover, &:hover * {
      color: $primario_acento !important;
   }
}
.neutral_hover {
   &:hover, &:hover * {
      color: $neutral !important;
   }
}
.neutral_oscuro_hover {
   &:hover, &:hover * {
      color: $neutral_oscuro !important;
   }
}
.secundario1_hover {
   &:hover, &:hover * {
      color: $secundario1 !important;
   }
}
.secundario2_hover {
   &:hover, &:hover * {
      color: $secundario2 !important;
   }
}
.secundario3_hover {
   &:hover, &:hover * {
      color: $secundario3 !important;
   }
}
.complementario_hover {
   &:hover, &:hover * {
      color: $complementario !important;
   }
}





.primario_bg_hover {
   &:hover, &:hover * {
      background-color: $primario !important;
   }
}
.primario_acento_bg_hover {
   &:hover, &:hover * {
      background-color: $primario_acento !important;
   }
}
.neutral_bg_hover {
   &:hover, &:hover * {
      background-color: $neutral !important;
   }
}
.neutral_oscuro_bg_hover {
   &:hover, &:hover * {
      background-color: $neutral_oscuro !important;
   }
}
.secundario1_bg_hover {
   &:hover, &:hover * {
      background-color: $secundario1 !important;
   }
}
.secundario2_bg_hover {
   &:hover, &:hover * {
      background-color: $secundario2 !important;
   }
}
.secundario3_bg_hover {
   &:hover, &:hover * {
      background-color: $secundario3 !important;
   }
}
.complementario_bg_hover {
   &:hover, &:hover * {
      background-color: $complementario !important;
   }
}


.primario_bd_hover {
   &:hover {
      @extend .border; outline-color: $primario !important;
   }
}
.primario_acento_bd_hover {
   &:hover {
      @extend .border; outline-color: $primario_acento !important;
   }
}
.neutral_bd_hover {
   &:hover {
      @extend .border; outline-color: $neutral !important;
   }
}
.neutral_oscuro_bd_hover {
   &:hover {
      @extend .border; outline-color: $neutral_oscuro !important;
   }
}
.secundario1_bd_hover {
   &:hover {
      @extend .border; outline-color: $secundario1 !important;
   }
}
.secundario2_bd_hover {
   &:hover {
      @extend .border; outline-color: $secundario2 !important;
   }
}
.secundario3_bd_hover {
   &:hover {
      @extend .border; outline-color: $secundario3 !important;
   }
}
.complementario_bd_hover {
   &:hover {
      @extend .border; outline-color: $complementario !important;
   }
}





.primario_bg {
   background-color: $primario !important;
}

.primario_acento_blanco_bg {
   background-color: $primario_acento_blanco !important;
}
.primario_acento_bg {
   background-color: $primario_acento !important;
}
.neutral_bg {
   background-color: $neutral !important;
}
.secundario1_bg {
   background-color: $secundario1 !important;
}
.secundario2_bg {
   background-color: $secundario2 !important;
}
.secundario3_bg {
   background-color: $secundario3 !important;
}
.complementario_bg {
   background-color: $complementario !important;
}

.border {
   outline: 1px solid white;
}

.primario_bd {
   @extend .border;
   outline-color: $primario !important;
}
.primario_acento_bd {
   @extend .border;
   outline-color: $primario_acento !important;
}
.neutral_bd {
   @extend .border;
   outline-color: $neutral !important;
}
.secundario1_bd {
   @extend .border;
   outline-color: $secundario1 !important;
}
.secundario2_bd {
   @extend .border;
   outline-color: $secundario2 !important;
}
.secundario3_bd {
   @extend .border;
   outline-color: $secundario3 !important;
}
.complementario_bd {
   @extend .border;
   outline-color: $complementario !important;
}
.transparente_bd {
   @extend .border;
   outline-color: transparent !important;
}


.white {
   * {
      // color: white !important;
   }
}


.txsh1 {
	text-shadow: 2px 2px 2px $neutral;
}
.txsh1-dark {
	text-shadow: 2px 2px 2px $neutral_oscuro;
}




input[type="submit"] { @extend .button }
input {
   height: $spacing * 2 !important;
   padding: $spacing / 2 !important;
}

textarea {
   height: 10vh !important;
   // max-height: 15vh !important;
}


.tarjeta {
   padding: $spacing * 1.5;
   box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.icono {
   text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.shadow {

  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);

}

body {
   background-color: whitesmoke;
}


.w_a {
   width: auto !important;
}

.f_l {
   float: left !important;
}



#page-content {
   h1 { font-size: 30px; @extend .mt1; @extend .mb1; }
   h2 { font-size: 27px; @extend .mt1; @extend .mb1; }
   h3 { font-size: 24px; @extend .mt1; @extend .mb1; }
   h4 { font-size: 22px; @extend .mt1; @extend .mb1; }
   h5 { font-size: 19px; @extend .mt1; @extend .mb1; }
   h6 { font-size: 17px; @extend .mt1; @extend .mb1; }
   p  { font-size: 17px; @extend .mb1; }
}
#page-index-menu {
   li {
      transition: all 0.3s;
      color: $neutral_muy_oscuro;
   }
   .current {
      // font-weight: bold;
      // transform: scale(1.02);
      // -webkit-transform: scale(1.02);
      // -moz-transform: scale(1.02);
      color: black;
   }
}




.wpcf7-radio {
   .wpcf7-list-item {
      display: inline-block;
      width: 30% !important;
      float: left;
   }
   input[type="radio"] {
      float: left;
   }
   label {
      // width: 33% !important;
      margin: 0;
      float: left;
   }
}


input[type="radio"] {
   color: $complementario !important;
}
textarea,input {
   color: $neutral_oscuro !important;
   @extend .neutral_oscuro;
}




.search-highlight {

   background-color: $primario_acento;
   padding: $spacing / 3;

}


.boton-info {

   &, * {
      color:#fff !important;
   }
   h5 {
      font-weight: bold;
   }
}
.boton-info:nth-child(1) > div {
   background-color:$secundario1;
}
.boton-info:nth-child(2) > div {
   background-color:$secundario2;
}
.boton-info:nth-child(3) > div {
   background-color:$secundario3;
}
.boton-info:nth-child(4) > div {
   background-color:$secundario2;
}




.h_1x {
   height: 75px;
}
.h_2x {
   height: 150px;
}
.h_3x {
   height: 225px;
}
.h_4x {
   height: 300px;
}
.h_5x {
   height: 375px;
}
.h_6x {
   height: 450px;
}
.h_7x {
   height: 525px;
}

.h_sm_1x {
   height: 75px;
}
.h_sm_2x {
   height: 150px;
}
.h_sm_3x {
   height: 225px;
}
.h_sm_4x {
   height: 300px;
}
.h_sm_5x {
   height: 375px;
}
.h_sm_6x {
   height: 450px;
}
.h_sm_7x {
   height: 525px;
}


@media screen and (min-width:960px){


   .h_md_1x {
      height: 75px;
   }
   .h_md_2x {
      height: 150px;
   }
   .h_md_3x {
      height: 225px;
   }
   .h_md_4x {
      height: 300px;
   }
   .h_md_5x {
      height: 375px;
   }
   .h_md_6x {
      height: 450px;
   }
   .h_md_7x {
      height: 525px;
   }

}

@media screen and (min-width:960px){


   .h_lg_1x {
      height: 75px;
   }
   .h_lg_2x {
      height: 150px;
   }
   .h_lg_3x {
      height: 225px;
   }
   .h_lg_4x {
      height: 300px;
   }
   .h_lg_5x {
      height: 375px;
   }
   .h_lg_6x {
      height: 450px;
   }
   .h_lg_7x {
      height: 525px;
   }

}


@media screen and (min-width: 960px) {

   .w_md_20 {
      width: 20%;
   }

}


iframe {
   max-width: 100% !important;
   width: 100% !important;
}


@media screen and (max-width: 640px) {
   iframe {
      max-width: 80vw !important;
   }
}
