@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import 'reset';
@import 'layout_utils';

@include foundation-global-styles;
@include foundation-grid;

@include foundation-flex-grid;

@include foundation-typography;

@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;




$color_texto: #232222;
$primario: #b9cf46;
$primario_acento: #c8fb00;
$neutral: #97908d;
$secundario1: #00df7f;
$secundario2: #039ed9;
$secundario3: #ff8100;
$complementario: #df00c4;


/* estilos para elementos: */

*,h1,h2,h3,h4,h5,h6 {
   font-family: 'Lato', sans-serif;
   // outline: 2px dotted #def;
}

iframe {
   min-width: 100%;
}

a {
   &,&:hover {
      color: $color_texto;
   }
}

button, .button {
   &:hover {
      background-color: $primario;
      color: $complementario;
   }
   &,&.primary {

      background-color: $primario_acento;
      color: $complementario;
   }

   &, a {
      color: $color_texto !important;
   }
}

.hollow {
   border-color: $primario_acento !important;
   &:hover {
      background-color: $primario_acento !important;
      color: $complementario  !important;
   }
}


.thin {
   font-weight: 100;
}





%pattern {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEklEQVQImWNgIBmcOnXKl3RdAI02Aqx7ujt2AAAAAElFTkSuQmCC) repeat;
}

.img-overlay {
  @extend %pattern;
  background-color: rgba(255,255,255,0.6);
}



.curtain {
   background-color: rgba(255,255,255,0.7);
}







#background {
}

.image-fx {
   filter: brightness(110%) contrast(125%);
}




/* interfaz taxonomias */

.taxonomias  {
   li {
      color: #000;
      &.active {
         background-color: #eee !important;
      }
   }
}





.primario {
   * {
      color: $primario !important;
   }
}
.primario_acento {
   * {
      color: $primario_acento !important;
   }
}
.neutral {
   * {
      color: $neutral !important;
   }
}
.secundario1 {
   * {
      color: $secundario1 !important;
   }
}
.secundario2 {
   * {
      color: $secundario2 !important;
   }
}
.secundario3 {
   * {
      color: $secundario3 !important;
   }
}
.complementario {
   * {
      color: $complementario !important;
   }
}


.primario_bg {
   background-color: $primario !important;
}
.primario_acento_bg {
   background-color: $primario_acento !important;
}
.neutral_bg {
   background-color: $neutral !important;
}
.secundario1_bg {
   background-color: $secundario1 !important;
}
.secundario2_bg {
   background-color: $secundario2 !important;
}
.secundario3_bg {
   background-color: $secundario3 !important;
}
.complementario_bg {
   background-color: $complementario !important;
}


.white {
   * {
      color: white !important;
   }
}


.txsh1 {
	text-shadow: 1px 1px 0 $neutral;
}
